@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Merriweather Sans', sans-serif;
    background-color: rgb(242, 253, 255);
    margin: 0;
    padding: 0;
    font-size: 10px;
    overflow-x: hidden;
}

.body-dark-mode {
    background-color: rgb(23, 33, 33);
}

/* -------------------------------------------------- Navbar */

#navigation {
    background-color: rgb(21, 122, 110);
}

#navigation #logo {
    font-family: 'Merriweather', serif;
    font-weight: 900;
    font-size: 5vh;
    font-style: italic;
    color: rgb(255, 131, 96);
    text-shadow: 2px 2px rgb(23, 33, 33);
    padding-top: 0.5rem;
}

.navbar-toggler {
    border: 0;
    color: rgb(23, 33, 33);
}

#navigation .nav-item,
#navigation a {
    color: rgb(242, 253, 255);
    font-weight: 300;
    margin: 1rem;
    padding-top: 1.25rem;
    font-size: 1.2rem;
    line-height: 1;
}

#navigation li {
    text-transform: uppercase;
}

#navigation #nav-dark-switch {
    margin: 2rem;
}

#navigation .dark-switch-label {
    font-size: .75rem;
    padding-top: 1rem;
    color: rgb(242, 253, 255, 0.75)
}

.navbar-nav>.nav-item>.active {
    text-shadow: 2px 2px rgb(23, 33, 33);
}

/*  Dark Mode Switch
    Code adapted from w3schools example found here: https://www.w3schools.com/howto/howto_css_switch.asp */
    
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(242, 253, 255, 0.5);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: rgb(23, 33, 33, 0.5);
}

input:focus + .slider {
    box-shadow: 0 0 1px rgb(23, 33, 33, 0.5);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* -------------------------------------------------- Carousel */

.carousel-item {
    height: 75vh;
}

.carousel-inner > .carousel-item > img {
    height: 75vh;
    object-fit: cover;
}

/* Add an opaque overlay to the carousel images - solution found on StackOverflow: https://stackoverflow.com/questions/46819577/bootstrap-4-beta-carousel-dark-overlay */

.carousel-item:after {
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.5);
}

/* Styling for carousel text adapted from this example: https://bootsnipp.com/snippets/7B4x */

.header-text {
    position: absolute;
    top: 20vh;
    left: 1.8vh;
    right: auto;
    width: 96.6vw;
    color: rgb(242, 253, 255);
    z-index: 1;
}

.header-text h2 {
    font-size: 1.75rem;
    font-family: "Merriweather", serif;
    font-weight: 800;
    margin-bottom: 10vh;
    text-align: center;
}

.header-text h2 span {
	padding: 1rem;
}

.header-text h3 {
    font-size: 1.25rem;
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 400;
}

/* -------------------------------------------------- Searchbar & Map */

.map-wrapper {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.map-wrapper > .input-group {
    margin-bottom: 1rem;
}

.map-wrapper > .input-group > #map-search {
    background-color: rgb(242, 253, 255);
    border: 0.1rem solid rgb(23, 33, 33);
    border-radius: 2.5rem;
    color: rgb(23, 33, 33);
    padding-right: 10rem;
}

div#map {
    min-height: 30rem;
}

/* -------------------------------------------------- Map Results 

.map-results-wrapper {
    min-height: 50vh;
    background-color: red;
    margin-bottom: 2rem;
}*/

/* -------------------------------------------------- Footer */

footer {
    height: 15vh;
    background-color: rgb(21, 122, 110);
    margin-bottom: 0;
}

.footer > .contact-links,
.footer > .dark-mode-toggle {
    margin-top: 1rem;
    color: rgb(242, 253, 255);
}

.footer-links {
    color: rgb(242, 253, 255);
    text-decoration: none;
    font-size: 1rem;
}

.footer-links:hover {
    color: rgb(139, 230, 181);
}

.contact-links > a {
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-right: auto;
}

.contact-links > ul > li {
    display: inline-block;
    padding: 0.5rem;
    font-size: 1rem;
    margin-right: auto;
}

.social-links a {
    color: rgb(242, 253, 255);
}

.social-links a:hover {
    color: rgb(139, 230, 181);
}

.footer > .dark-mode-toggle {
    margin-left: auto;
}

.footer > .dark-mode-toggle .dark-switch-label {
    margin: 0.5rem;
}

.footer > .author-info {
    margin-top: -1rem;
    font-size: 0.75rem;
    font-weight: 200;
    color: rgb(242, 253, 255);
    text-align: center;
}